@font-face {
    font-family: 'ElMessiri-Bold';
    src: url('../fonts/ElMessiri-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'ElMessiri-Medium';
    src: url('../fonts/ElMessiri-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'ElMessiri-Regular';
    src: url('../fonts/ElMessiri-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'ElMessiri-SemiBold';
    src: url('../fonts/ElMessiri-SemiBold.ttf');
    font-weight: 600;
}